<div class="right">
  <a role="button" class="btn btn-outline-secondary m-1" id="about" href="http://localhost:3000/about">About</a>
  <a role="button" class="btn btn-outline-secondary m-1" id="portfolio" href="http://localhost:3000/portfolio">Portfolio</a>
  <a role="button" class="btn btn-outline-secondary m-1 active" id="contact"
    href="http://localhost:3000/contact">Contact</a>
</div>
</nav>

<div class="container m-3">
  <h1 id="page-title">{{page}}</h1>
</div>